<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary justify-content-center mx-0 bg-white">
      <div class="row g-4 bg-white">
        <div class="col-12">
          <div class="bg-secondary rounded h-100 p-4 bg-white">
            <h6 class="mb-4 text-dark">Danh sách Tài khoản</h6>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Đăng nhập</th>
                    <th scope="col">Email</th>
                    <th scope="col">Quyền</th>
                    <!-- <th scope="col">Thao tác</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{ user._id }}</td>
                    <td>{{ user.user }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <!-- <td>
                      <button type="button" class="btn btn-info"><a [routerLink]="['/admin/users', user._id]"><i class="fa fa-edit"></i></a></button>
                      <button type="button" class="btn btn-danger" (click)="deleteUser(user._id)"><i class="fa fa-trash"></i></button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  