<header class="bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <a class="navbar-brand" style="font-weight: bolder; font-size: 30px;" href="/admin">Nhóm 4</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Trang Chính</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/admin/userlist'">Tài Khoản</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/product">Dự án</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Hồ sơ</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

