<app-client-header></app-client-header>
<div class="container-fluid services py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Các Dịch Vụ</h5>
            <h1>Dịch vụ được xây dựng riêng cho doanh nghiệp của bạn</h1>
        </div>
        <div class="row g-5 services-inner" *ngIf="posts.length > 0">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s" *ngFor="let post of posts">
                <div class="services-item bg-light" >
                    <div class="p-4 text-center services-content" >
                        <div class="services-content-icon" >
                            <i class="fa fa-code fa-7x mb-4 text-primary"></i>
                            <h4 class="mb-3">{{ post.title }}</h4>
                            <p class="mb-4">{{ post.subtitle }}</p>
                            <a [routerLink]="['/client/services', post._id]" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-client-footer></app-client-footer>


